<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt"
      throwConfigExceptions="true">

 <!-- Define various log targets where logs will be written -->
 <targets>
	 
		 <!-- Target File-->
		 <target xsi:type="File"
		   name="logfile"
		   fileName="E:/Angular/Logs/EmployeeManagementLogs/logfile-all-${shortdate}.log"
		   archiveFileName="E:/Angular/Logs/EmployeeManagementLogs/archived/log_{#}.log"
           archiveEvery="Day"
           archiveNumbering="Rolling"
           archiveAboveSize="10485760"
           maxArchiveFiles="7"
		   layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

	    <!-- File Target for own log messages with extra web details using some ASP.NET core renderers -->
    <target xsi:type="File" name="ownFile-web" fileName="E:/Angular/Logs/EmployeeManagementLogs/logfile-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

  <!-- Target Console -->
  <target xsi:type="Console"
    name="logconsole"

     layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

 </targets>

 <!-- Define logging rules to control which logs go to which targets. Define Rules for Each Target -->
 <rules>
   <!-- All logs, including from Microsoft -->
    <logger name="*" minlevel="Trace" writeTo="logfile,logconsole" />

    <!-- Suppress output from Microsoft framework when non-critical -->
    <logger name="System.*" finalMinLevel="Warn" />
    <logger name="Microsoft.*" finalMinLevel="Warn" />
    <!-- Keep output from Microsoft.Hosting.Lifetime to console for fast startup detection -->
 

    <logger name="*" minLevel="Trace" writeTo="ownFile-web" />s
 </rules>
</nlog>